- fg = 'white'
- bg = 'gray'
- if text == 'newbie'
  - bg = 'darkseagreen'
- if text == 'L1'
  - bg = 'steelblue'
- if text == 'L2'
  - bg = 'darkorange'
- if text == 'L3'
  - bg = 'maroon'
- if text == 'bad'
  - fg = 'orangered'
  - bg = 'lightgray'
%kbd{style: "color: #{fg}; background-color: #{bg};"}
  &= text
