- color = 'gray'
- if text == 'newbie'
  - color = 'darkseagreen'
- if text == 'L1'
  - color = 'steelblue'
- if text == 'L2'
  - color = 'darkorange'
- if text == 'L3'
  - color = 'maroon'
- if text == 'bad'
  - color = 'red'
%kbd{style: "background-color: #{color};"}
  &= text
