- color = 'gray'
- if text == 'newbie'
  - color = 'darkseagreen'
- if text == 'L1'
  - color = 'steelblue'
- if text == 'L2'
  - color = 'orange'
- if text == 'L3'
  - color = 'tomato'
%kbd{style: "background-color: #{color};"}
  &= text
