-# SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p
  - if page.positive?
    %a.item{href: iri.over(page: page - 1)} Previous page
  - if list.count == 25
    %a.item{href: iri.over(page: page + 1)} Next page
