%h2
  API

%p
  To connect to us via HTTP, add
  %code X-Codexia-Token
  header to your
  requests, with this value (keep it secret, it's your authentication token):

%p
  %code
    &= token

%p
  Most important entry points:

%ul
  %li
    %code POST /submit?platform=github&coordinates=...
    to submit a new project
  %li
    %code POST /p/123/post?text=...&hash=...
    to submit a review, where 123 is the project ID,
    %code text
    is the text to post and
    %code hash
    is anything you like, which is unique per project
  %li
    %code GET /recent.json?page=...
    to list all visible projects
  %li
    %code GET /p/123.json?page=...
    to list all reviews per project, where 123 is the project ID
  %li
    %code GET /p/123/badges.json
    to list all badges in the project
  %li
    %code POST /p/123/meta?key=A&value=B
    to set a single meta for the project
  %li
    %code GET /p/123/meta?key=login:A
    to read a single meta for the project

%p
  If something doesn't work,
  %a{href: 'https://github.com/yegor256/codexia'}
    submit a ticket
  to GitHub.
