%p
  %a{href: Iri.new('https://github.com/').append(a.login), style: 'vertical-align:middle;'}<
    %img{src: "https://socatar.com/github/#{a.login}/192-192", style: 'height:1em;width:1em;'}
  = "@#{a.login}"

%p
  Karma:
  = format('%+d', a.karma.points)
