- # SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
- # SPDX-License-Identifier: MIT

%table
  %thead
    %tr
      %th Login
      %th.right Earned
  %tbody
    - list.each do |a|
      %tr
        %td
          = partial(:author, locals, a: a)
        %td.right
          = "$#{a.points}"
