%h2
  Bots

%table.compact
  %thead
    %tr
      %th Login
      %th.right Karma
      %th.right Payable
  %tbody
    - bots.each do |b|
      %tr
        %td
          = partial(:author, locals, id: nil, login: b.login)
        %td.right.monospace
          = b.karma.points.round
        %td.right.monospace
          = b.karma.points(safe: true).round
