%h2
  Bots

%table.compact
  %thead
    %tr
      %th Login
      %th.right Karma
      %th.right Payable
  %tbody
    - bots.each do |b|
      %tr
        %td
          = partial(:author, locals, a: b)
        %td.right.monospace
          %a{href: iri.cut('/payables').add(a: b.login)}<
            = b.karma.points.round
        %td.right.monospace
          = b.karma.points(safe: true).round
