- # SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
- # SPDX-License-Identifier: MIT

%h2
  Tech Focus

%p
  We are specifically interested in:

%ul
  %li Tools for developers
  %li Software development frameworks
  %li Instruments for cloud computing
  %li Static analyzers and code quality checkers
  %li AI/ML frameworks

%p
  This list may change in the future.
