-# SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p.firebrick
  This page is not here.

%p
  Most likely the link is broken or expired.
  Try to start from
  = succeed '.' do
    %a{href: iri.cut('/')} here
