-# SPDX-FileCopyrightText: Copyright (c) 2020-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  SQL

%form{method: 'GET', action: iri.cut('/sql')}
  %input{type: 'text', name: 'query', size: 60, autocomplete: 'off', required: true, tabindex: 1, autofocus: true, value: query}
  %input{type: 'submit', tabindex: 2, value: 'Query'}

- max = 100

- if result.empty?
  %p
    Empty result.
- else
  %table.compact
    %thead
      %tr
        - result[0].keys.each do |k|
          %th= k
    %tbody
      - result.take(max).each do |r|
        %tr
          - r.each do |k, v|
            %td.monospace
              - if v.nil?
                = '&mdash;'
              - else
                &= v
  - if result.count > max
    %p
      There are
      %strong= result.count
      rows (more than you see above).
