%h2
  Submit a New Project

%form{action: iri.cut('/do-submit'), method: 'POST'}
  %fieldset
    %label Where the project is hosted:
    %input{type: 'text', name: 'platform', size: 18, value: 'github', readonly: true}
    %label Where exactly there:
    %input{type: 'text', name: 'coordinates', size: 35, tabindex: 1, autofocus: true, placeholder: 'e.g., yegor256/takes', required: true}
    %button{type: 'submit'} Add
