%h2
  Terms of Use

%p
  This is how many points you earn:

%ul
  - legend.reject { |g| g[:points].zero? }.each do |g|
    %li
      %strong
        = format('%+d', g[:points])
      per
      = g[:terms]

%p
  Each karma point earned is worth $1 (one US dollar) and
  can instantly be cashed-out via
  %a{href: 'https://wts.zold.io'} WTS
  to ZLD currency, which you can instantly convert to Bitcoins.

%p
  We are interested only in projects, which are
  1) not yet super popular (less than 1K GitHub stars),
  2) tools for developers,
  3) larger than 10K lines of code.
  If you submit a project, which doesn't satisfy one of these
  criteria, it will be deleted.

%p
  We are interested in detailed reviews, which emphasize
  pros and cons of projects, from your professional subjective
  point of view. Your review may be deleted, if it is either
  1) too short, 2) too obvious, 3) copied from somewhere,
  or 4) too offensive.
